@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@700&display=swap');

:root {
    --darkOrange: rgb(255, 162, 49);
    --seaGreen: rgb(38, 114, 71);

}

.grid {
    display: grid;
    grid-template-rows: 100% auto;
}


/* ↓↓ Home screen ↓↓ */

/* hedear section */
header {
    background-image: radial-gradient(circle, rgb(255, 179, 86), var(--darkOrange) 300px, var(--darkOrange) 300px);
}

h2.display-6 {
    font-family: cursive;
    line-height: 1.5;
    color: rgb(14, 70, 37);
}

.navbar-light .navbar-brand {
    font-family: "Oleo Script Swash Caps", cursive;
    font-size: 40px;
    color: var(--seaGreen);
}

.navbar-light .navbar-brand:hover {
    color: rgb(41, 126, 78);
}

.navbar-link.login {
    font-size: 24px;
    font-weight: 400;
    color: var(--seaGreen);
    border: 1px solid var(--seaGreen);
    border-radius: 25px;
}

.navbar-link.login:hover {
    color: rgb(11, 87, 44);
    border-color: rgb(11, 87, 44);
}

img[alt="pizza-img"].img-fluid {
    border: 4px solid whitesmoke;
    border-radius: 50%;
    box-shadow: -4px 5px 15px rgb(43, 33, 21);
}

.header_foot {
    max-width: 100%;
    height: 139px;
    background-image: url("./imgs/bg-curve.svg");
    background-repeat: none;
}

.dropdown-menu[data-bs-popper] {
    background-color: aliceblue;
    left: -70px;
}

.badge {
    font-size: 12px;
}

/* main section */
.restaurant>h2 {
    font-family: cursive;
    font-size: 40px;
    color: black;

}

.form-check-label:hover {
    opacity: 0.8;
    cursor: pointer;
}

.bi-star-fill, .bi-star, .bi-star-half {
    color: var(--darkOrange)
}

/* car for selected pizza */
.restaurant-brand {
    font-family: cursive;
}

/* ↓↓ Signup screen ↓↓ */
.signup-link:hover {
    opacity: 0.5;
}

/* ↓↓ order screen ↓↓ */
.barre-guide {
    width: 20%;
    font-size: 12px;
    border-top: 2px solid rgb(211, 209, 209);
    color: rgb(211, 209, 209);
}

#map {
    height: 350px;
    cursor: pointer;
}

/* ↓↓ payment screen ↓↓ */

.paymentM-1, .paymentM-2 {
    height: 100px;
    background-size: 100% 100%;
    border: 1px solid lavender;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.paymentM-1 {
    background-image: url(./imgs/give-money.png)
}

.paymentM-2 {
    background-image: url(./imgs/paypal.png);
}

.check-s1, .check-s2 {
    display: none;
    position: absolute;
    padding: 0 5px;
    right: -10px;
    top: -10px;
    background-color: rgb(17, 80, 255);
    color: white;
    border-radius: 50%;
    transition: all 0.5s;
}

.paymentM-1.active, .paymentM-2.active {
    border: none;
    outline: 5px solid rgba(0, 110, 255, 0.5);
}

.paymentM-1.active .check-s1, .paymentM-2.active .check-s2 {
    display: inline;
}

/* Bill screen */
h5~p {
    word-wrap: break-word;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 25px 0 5px;
}